@model GoalArena.Models.Season

@{
    ViewData["Title"] = "Create Season";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container p-3">
    <h2 class="text-primary">Create Season</h2>
    <hr />
    <form asp-action="Create" method="post">

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }

        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StartDate" class="form-label"></label>
            <input asp-for="StartDate" class="form-control" type="date" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EndDate" class="form-label"></label>
            <input asp-for="EndDate" class="form-control" type="date" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TournamentId" class="form-label"></label>
            <select asp-for="TournamentId" class="form-control" asp-items="ViewBag.TournamentList"></select>
            <span asp-validation-for="TournamentId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Status" class="form-label"></label>
            <select asp-for="Status" class="form-control" asp-items="ViewBag.StatusList"></select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
