@using GoalArena.ViewModels
@model NewWithRelatedNewsVM

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src=@*/images/@Model.Movie.ImgUrl*@ alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">@*@Model.Movie.Category.Nam*@</div>
                <h1 class="display-5 fw-bolder">@*@Model.Movie.Name*@</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration">@*@Model.Movie.Cinema.Name<*@/span>
                </div>
                <div class="fs-5 mb-5">
                    <span class="text-decoration">@*@Model.Movie.Price.ToString("C")*@</span>
                </div>

                <div class="fs-5 mb-5">
                    <span class="text-decoration">@*@Model.Movie.TrailerUrl*@
                </span>
                </div>
            <p class=@*@Model.Movie.Description*@</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    
                </div>
            </div>
        </div>
    </div>
</section>
