@model GoalArena.Models.News

@{
    ViewData["Title"] = "Create News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container p-3">
    <h2 class="text-primary">Create News</h2>
    <hr />
    <form asp-action="Create" method="post">

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }

        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Content" class="form-label"></label>
            <input asp-for="Content" class="form-control" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
       
        <div class="mb-3">
            <label asp-for="PublishedDate" class="form-label"></label>
            <input asp-for="PublishedDate" class="form-control" type="date" />
            <span asp-validation-for="PublishedDate" class="text-danger"></span>
        </div>
       
       
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
